.aboutSection {
  margin-top: 5rem;
  background-color: var(--beige);
  padding: 60px 0 ;
  box-sizing: border-box;
  overflow-x: hidden;
}

.aboutContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.aboutImage img {
  width: 100%;
  max-width: 32.25rem;
  border-radius: 8px;
}

.aboutText {
  max-width: 37.5rem;
}

.aboutText h4 {
  color: var(--blue-500);
  font-size: 1rem;
  margin-bottom: 10px;
}

.aboutText h2 {
  color: var(--blue-500);
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.aboutText p {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--gray);
}

/* Responsividade */
@media (max-width: 1200px) {
  .aboutContent {
    flex-direction: column; 
  }

  .aboutImage img {
    max-width: 28rem; 
  }

  .aboutText {
    max-width: 32rem; 
  }

  .aboutText h2 {
    font-size: 2rem; 
  }
}

@media (max-width: 992px) {
  .aboutContent {
    padding: 40px 20px; 
  }

  .aboutImage img {
    max-width: 24rem; 
  }

  .aboutText {
    max-width: 28rem; 
  }

  .aboutText h2 {
    font-size: 1.75rem; 
  }
}

@media (max-width: 768px) {
  .aboutContent {
    padding: 30px 15px; 
  }

  .aboutImage img {
    max-width: 20rem; 
  }

  .aboutText {
    max-width: 25rem; 
  }

  .aboutText h2 {
    font-size: 1.5rem; 
  }
}

@media (max-width: 576px) {
  .aboutContent {
    padding: 20px 10px; 
  }

  .aboutImage img {
    max-width: 18rem; 
  }

  .aboutText {
    max-width: 22rem; 
  }

  .aboutText h2 {
    font-size: 1.25rem; 
  }
}
