.servicesContainer {
  text-align: center;
  padding: 20px;
  margin-top: 5rem;
}

.servicesContainer > h3 {
  font-size: 1rem;
  color: var(--blue-500);
  margin-bottom: 28px;
}

h2 {
  font-size: 40px;
  margin-bottom: 68px;
}

.servicesGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  justify-content: center;
  max-width: 75rem;
  margin: 0 auto;
}

.serviceBox {
  background-color: var(--white);
  border: 1px solid var(--white-100);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.serviceBox:hover {
  transform: translateY(-5px);
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.icon h3 {
  font-size: 2rem;
}

.description {
  margin-top: 1rem;
  font-size: 1rem;
  text-align: left;
  color: var(--gray);
}

/*Responsividade */
@media (max-width: 1200px) {
  .servicesGrid {
    grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas grandes */
    gap: 30px;
  }

  h2 {
    font-size: 36px; /* Ajustar tamanho da fonte */
  }
}

@media (max-width: 768px) {
  .servicesGrid {
    grid-template-columns: 1fr; /* 1 coluna em tablets */
    gap: 20px;
  }

  h2 {
    font-size: 28px; /* Ajustar tamanho da fonte */
    margin-bottom: 50px; /* Ajustar margem inferior */
  }

  .serviceBox {
    padding: 15px; /* Ajustar padding */
  }

  .icon h3 {
    font-size: 1.8rem; /* Ajustar tamanho da fonte */
  }

  .description {
    font-size: 0.9rem; /* Ajustar tamanho da fonte */
  }
}

@media (max-width: 576px) {
  .servicesContainer {
    padding: 10px; /* Ajustar padding */
    margin-top: 3rem; /* Ajustar margem superior */
  }

  .servicesGrid {
    gap: 15px; /* Ajustar gap */
  }

  h2 {
    font-size: 24px; /* Ajustar tamanho da fonte */
    margin-bottom: 40px; /* Ajustar margem inferior */
  }

  .serviceBox {
    padding: 10px; /* Ajustar padding */
  }

  .icon h3 {
    font-size: 1.5rem; /* Ajustar tamanho da fonte */
  }

  .description {
    font-size: 0.8rem; /* Ajustar tamanho da fonte */
  }
}

