.userProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profilePage {
  margin-top: 70px;
}

.cardContainer {
  display: flex;
  justify-content: center;
  gap: 40px;

  margin-top: 40px;
  margin-bottom: 60px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 400px;
  padding: 30px;

  border: 1px solid var(--blue-500);
  border-radius: 10px;
  background-color: var(--white);

  gap: 20px;
}

.card h2 {
  font-size: 1.5rem;
  color: var(--blue-500);
  margin-bottom: 20px;
  text-align: center;
}

.card h3 {
  font-size: 1.2rem;
  color: var(--blue-500);
  margin-bottom: 20px;
}

/* Estilos específicos para o card do profissional */
.professionalCard {
  border-color: var(--blue-500);
  background-color: var(--blue-100);
}

.professionalCard h2,
.professionalCard h3 {
  color: var(--blue-500);
}

/* Estilos específicos para o card do paciente */
.patientCard {
  border-color: var(--blue-500);
  background-color: var(--blue-100);
}

.patientCard h2,
.patientCard h3 {
  color: var(--blue-500);
}

.viewButton {
  border: 1px solid var(--blue-500);
  border-radius: 40px;
  padding: 20px 50px;

  background-color: transparent;
  color: var(--blue-500);
  transition: background-color 0.3s ease, color 0.3s ease;

  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 60px;
}

.viewButton:hover {
  background-color: var(--blue-500);
  color: var(--white);
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 280px;
  height: 220px;

  background-color: var(--blue-200);
  border-radius: 10px;
}
.calendar h3 {
  font-size: 1.2rem;
  color: var(--blue-500);
  margin-bottom: 10px;
}

/* Estilos gerais para dispositivos móveis */
@media (max-width: 768px) {
  .profilePage {
    margin-top: 50px;
    padding: 0 20px;
  }

  .cardContainer {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .card {
    width: 100%;
    max-width: 300px; /* Limita o tamanho no celular */
    padding: 20px;
  }

  .viewButton {
    padding: 15px 30px;
    font-size: 0.9rem;
  }

  .calendar {
    width: 100%;
    height: auto;
    padding: 15px;
  }
}

/* Ajustes para tablets */
@media (min-width: 769px) and (max-width: 1024px) {
  .cardContainer {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
  }

  .card {
    width: 45%; /* Duas colunas lado a lado */
    max-width: 350px;
  }

  .calendar {
    width: 240px;
    height: 200px;
  }
}

