:root {
  --white: #FFFFFF;
  --white-100: #E1E1E1;
  --beige: #FFE3E3;

  --blue-100: #D2E0FB;
  --blue-200: #a3b9cf;
  --blue-300: #7FA1C3;
  --blue-500: #6482AD;

  --green: #00856F;

  --black: #212529;
  --gray: #495057;

  --red: #AB222E;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--white);
  color: var(--black);
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
}

body::before {
  content: "";
  width: 100%;
  height: 30rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: var(--blue-100);
}

body,
input,
textarea,
button {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

/* Estilos Responsivos */
@media (max-width: 1200px) {
  body::before {
    height: 30rem; /* Ajustar altura para telas grandes */
  }
}

@media (max-width: 992px) {
  body::before {
    height: 25rem; /* Ajustar altura para telas médias */
  }
}

@media (max-width: 768px) {
  body::before {
    height: 20rem; /* Ajustar altura para tablets */
  }
}

@media (max-width: 576px) {
  body::before {
    height: 15rem; /* Ajustar altura para smartphones */
  }
}

